*{
    margin: 0;
    padding: 0;
}
.container
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: auto;
    margin-left: 700px;
    margin-top: 300px;
}
.container2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: auto;
    margin-left: 650px;
    margin-top: 50px;
}
.container3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: auto;
    margin-left: 650px;
    margin-top: 10px;
}
#dob
{
    height: 30px;
    width: 300px;
    border-color: black;
}
.container4
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: auto;
    margin-left: 650px;
    margin-top: 10px;
}
#calculator
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    width: 300px;
    background-color: #454545;
    color: white;
    font-size: large;
}
#result {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 665px; 
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-size: 30px;
}